<ng-container *ngIf="__canPreview; else notSupportPreview">
    <img *ngIf="resourceType === 'img'" nz-image
        [style]="formField.previewStyle ? formField.previewStyle : 'width: auto; max-width: 100%; height: 150px;'"
        [nzSrc]="__data" [nzFallback]="fallback" />
    <iframe *ngIf="resourceType === 'video'"
        [style]="formField.previewStyle ? formField.previewStyle : 'width: auto; max-width: 100%; height: 150px; border: none;'"
        [src]="__data" allowfullscreen></iframe>
    <iframe *ngIf="resourceType === 'web'"
        [style]="formField.previewStyle ? formField.previewStyle : 'width: 100%; height: 300px;'"
        [src]="__data"></iframe>
    <ngx-json-viewer *ngIf="resourceType === 'json'" [json]="__data" [expanded]="false"
        style="font-size: 0.85em !important;"></ngx-json-viewer>
</ng-container>
<ng-template #notSupportPreview>
    <div style="float: right;">
        <span style="color: red; font-style: italic;">This content does not support preview!</span>
    </div>
</ng-template>